/* Global */
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  color:#333333;
  overflow: hidden;
}

body.body-scroll {
  overflow: inherit;
}

.main {
  height:100%;
}
h1 {
  font-family: 'Croissant One', cursive;
  font-size: 64px;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size:25px;
  font-weight: bold;
  max-width: 80%;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  line-height: 27px;
  font-weight: normal;
  max-width: 80%;
  padding-left: 10px;
}
/* Navigatigon */
.page-sidebar {
  background-color: #FF6663;
  bottom: 0;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 50%;
  float:left;
  height:100%;
}
.page-navigation {
  position: fixed;
  width:50%;
  height:100%;
  margin: 0 auto;
  padding-top: 100px;
}
.page-navigation ul li {
  list-style: none;
  text-align: center;
  color: #FFFFFF;
}
.page-navigation ul li a {
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  text-align: center;
}
.page-navigation ul li a:hover {
  text-decoration: underline;
}
.intro {
  padding-top: 20%;
}
.text {
  margin-left: auto;
  margin-right: auto;
}
.list {
  margin-left: auto;
  margin-right: auto;
}
/* Section */
.page-section {
  right: 0;
  overflow: scroll;
  width: 50%;
  float:right;
  height: 100vh;
}
.container {
  position: relative;
  width: 100%;
}
/* List */
.list ol {
  font-size: 25px;
  font-weight: bold;
  padding-left: 80px;
}
.list ol li p {
  text-transform: none;
  border-left: 1px solid #333333;
}
.list ol li p em {
  color: #FF6663;
  display: inline;
  text-transform: uppercase;
  font-style: normal;
}
.nav-toggle {
  cursor:pointer;
  position: fixed;
  left: 20px;
  top: 20px;
  padding-right: 0;
}
.nav-toggle .menu {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  margin-top: 30px;
}
/* Medium and small screens */
@media screen and (max-width: 767px) {
  html { font-size: 112%; }
  h1 {
    font-size: 35px;
    margin-left: auto;
    margin-right: auto;
    }
  h2 {
    font-size:20px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  p {
   font-size:16px;
   line-height: 27px;
   margin-left: auto;
   margin-right: auto;

  }
  .intro {
    padding-top: 25%;
  }
  /* navigation */
  .page-sidebar, .page-section {
    display: block;
    float: none;
    width: 100%;
  }

  .page-sidebar {
    position: absolute;
    margin-left: -50%;
    transform: translate(-50%, -50%);
  }

  .nav-open .page-sidebar {
    margin-left: 0;
    transform: none;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 45px;
    text-align: center;
    padding-right: 40px;
  }
  h2 {
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin-left: auto;
    margin-right: auto;
  }
  .nav-toggle {
    display: none;
  }
}