/* Global */
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
}
h2 {
  font-family: 'Poller One', cursive;
  font-size: 30px;
  text-transform: none;
  max-width: 70%;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  line-height: 27px;
}
.title {
  margin-left: auto;
  margin-right: auto; 
}
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color:#333333;
}

.project-intro {
  background: #333333;
  float: none;
  width: 100%;
}

.project-intro .content {
  width: 80%;
  height: 100%;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
}
.blocstarter-logo {
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
.content p {
  text-align: center;
  color: #FF6663;
  text-transform: uppercase;
  font-size: 16px;
}
.container {
  background: #0B3954;
}
.container .user-stories {
  padding-top: 40px;
  background: #E3E5E4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  max-width: 80%;
  margin: auto;
}
.stories .user-stories {
  background: #FFFFFF;
  padding-top: 40px;
}
.user-stories .text {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.user-chart {
  text-align: center;
  padding-bottom: 40px;
}
.chart {
  display: inline-block;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  margin-left: auto;
  margin-right: auto;
}
.draw-chart {
  display: inline-block;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
.container .brand-content {
  padding-top: 40px;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  max-width: 80%;
  margin: auto;
}
.brand-content .text {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.style-guide {
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  padding-bottom: 40px;
}
.container .design {
  padding-top: 40px;
  background: #E3E5E4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  max-width: 80%;
  margin: auto;
}
.design {
  padding-top: 40px;
  max-width: 60%;
  background: #E3E5E4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
.daruma-images {
  background: #E3E5E4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  margin: auto;
}
.design .onboarding {
  text-align: center;
  padding-bottom: 40px;
}
.design .text {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.mockups {
  display: inline-block;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  margin-left: auto;
  margin-right: auto;
}
.container .site-images {
  background: #0B3954;
  max-width: 80%;
  margin: auto;
}
.site-images h2 {
  padding-top: 40px;
  color: #FFFFFF;
}
.site-images .homepage {
  max-width: 100%;
  background-size: cover;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

.nav-toggle .menu {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  margin-top: 30px;
}
/* Dropdown Button */
.dropbtn {
    background-color: #FF6663;
    color: white;
    padding: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color: #E0FF4F;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: 'Open Sans', sans-serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #FF6663}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/* Medium and small screens */
@media screen and (max-width: 767px) {
  html { font-size: 112%; }
  h1 {
    font-size: 35px;
    text-align: center;
  }
  h2 {
    font-size:20px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  p {
    font-size:16px;
    line-height: 27px;
    text-align: center;
  }
/* User stories */
  .container .user-stories {
    max-width: 100%;
    margin: auto;
  }
  .user-stories p {
    max-width: 80%;
  }
  .chart {
    width: 75%;
  }
/* Style guide */
  .container .brand-content {
    background: #E3E5E4;
    max-width: 100%;
    margin: auto;
  }
  .brand-content p {
    max-width: 80%;
  }
  .style-guide {
    width: 75%;
    padding-bottom: 10px;
  }
  /* Building the experience */
   .container .design {
    background: #FFFFFF;
    max-width: 100%;
    margin: auto;
  }
  .design p {
    max-width: 80%;
  }
  .mockups {
    height: 75%;
    width: 75%;
  }
  .nav-toggle .menu {
    cursor: pointer;
    position: fixed;
    left: 20px;
    top: 20px;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 45px;
    text-align: center;
    padding-right: 40px;
  }
  .brand-content p {
    max-width: 90%;
  }
  .persona-content p {
    max-width: 90%;
  }
  .design p {
    max-width: 90%;
  }
}