/* Global */
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  color:#333333;
  overflow: hidden;
}

body.body-scroll {
  overflow: inherit;
}

.main {
  height:100%;
}
h1 {
  font-family: 'Croissant One', cursive;
  font-size: 64px;
  text-align: center;
}
h3 {
  margin-top: 40px;
  margin-bottom: 5px;
}
h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.container h2 {
  font-family: 'Raleway', sans-serif;
  font-size:25px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  padding-top: 90%;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  line-height: 10px;
  font-weight: normal;
}
/* Section */
.page-section {
  background: #FFFFFF;
  right: 0;
  overflow: scroll;
  width: 50%;
  float:right;
  height: 100vh;
}
.avatar {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hello {
  font-size: 40px;
  color:#FF6663;
}
.contact-text {
  font-size: 20px;
}
.email {
  text-decoration: none;
  font-size: 16px;
  color:#333333;
  margin-top: 5px;
}
/* Navigatigon */
.page-sidebar {
  background-color: #FF6663;
  bottom: 0;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 50%;
  float:left;
  height:100%;
}

.page-navigation {
  position: fixed;
  width:50%;
  height:100%;
  margin: 0 auto;
  padding-top: 100px;
}
.page-navigation ul li {
  list-style: none;
  text-align: center;
}
.page-navigation ul li a {
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  text-align: center;
}
.page-navigation ul li a:hover {
  text-decoration: underline;
}
.nav-toggle {
  cursor:pointer;
  position: fixed;
  left: 15px;
  top: 15px;
  padding-right: 0;
}
.nav-toggle .menu {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  margin-top: 30px;
}
/* Medium and small screens */
@media screen and (max-width: 767px) {
  html { font-size: 112%; }
  h1 {
    font-size: 35px;
    text-align: center;
    }
  h3, h4 {
    text-align: center;
  }
  p {
   font-size:16px;
   line-height: 27px;
   text-align: center;
   padding-left: 10px;
   padding-right: 10px;
  }
  .hello {
    padding-top: 15%;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
  /* navigation */
  .page-sidebar, .page-section {
    display: block;
    float: none;
    width: 100%;
  }

  .page-sidebar {
    position: absolute;
    margin-left: -50%;
    transform: translate(-50%, -50%);
  }

  .nav-open .page-sidebar {
    margin-left: 0;
    transform: none;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 45px;
    text-align: center;
    padding-right: 40px;
  }
  h3, h4 {
    text-align: center;
    padding-left: 15px;
  }
  p {
   font-size:16px;
   line-height: 35px;
   text-align: center;
   margin-top: 0;
   padding-left: 15px;
   padding-right: 15px;
  }
  .avatar {
    padding-top: 15px;
  }
  .nav-toggle {
    display: none;
  }
}