h1 {
 color:#FF6663;
 text-align: center;
}
h3 {
  margin-top: 40px;
  margin-bottom: 5px;
}
h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

p {
  line-height: 10px;
}
.contact-text {
  font-size: 24px;
}
.email {
  text-decoration: none;
  font-size: 16px;
  color:#333333;
  margin-top: 5px;
}

/* Medium and small screens */
@media screen and (max-width: 767px) {
  html { font-size: 112%; }
  h1 {
    font-size: 35px;
    text-align: center;
    }
  h2 {
    font-size:20px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-right: 50px;
  }
  h3, h4 {
    text-align: center;
  }
  p {
   font-size:16px;
   line-height: 27px;
   text-align: center;
   padding-left: 10px;
   padding-right: 10px;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
  /* navigation */
  .page-sidebar, .page-section {
    display: block;
    float: none;
    width: 100%;
  }

  .page-sidebar {
    position: absolute;
    margin-left: -50%;
    transform: translate(-50%, -50%);
  }

  .nav-open .page-sidebar {
    margin-left: 0;
    transform: none;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    margin-bottom: 20px;
  }
  h3, h4 {
    text-align: center;
    padding-left: 15px;
  }
  p {
   font-size:16px;
   line-height: 35px;
   text-align: center;
   margin-top: 0;
   padding-left: 15px;
   padding-right: 15px;
  }
  .avatar {
    padding-top: 15px;
  }
  .page-navigation {
    padding-top: 30px;
  }
  .nav-toggle {
    display: none;
  }
}