/* Global */
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
}
body {
  color:#333333;
}
h2 {
  font-family: 'Poller One', cursive;
  font-size: 30px;
  text-transform: none;
  max-width: 70%;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  line-height: 27px;
}
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color:#333333;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF6663;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: #333;
    background-color: #FFFFFF;
}
.title {
  margin-left: auto;
  margin-right: auto; 
}
.brand-content .text {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.project-intro {
  float: none;
  width: 100%;
}

.project-intro .content {
  width: 90%;
  height: 100%;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
}
.daruma-logo {
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
.content p {
  text-align: center;
  color: #FF6663;
  text-transform: uppercase;
  font-size: 16px;
}
.container {
  background: #0B3954;
}
.container .brand-content {
  padding-top: 40px;
  background: #E3E5E4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  max-width: 80%;
  margin: auto;
}
.brand-content p {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.daruma-logos {
  width: 40%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  padding-bottom: 40px;
}
.container .persona-content {
  padding-top: 40px;
  background: #E3E5E4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  max-width: 80%;
  margin: auto;
}
.personas .persona-content {
  background: #FFFFFF;
  padding-top: 40px;
}
.persona-content .text {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.persona-images {
  text-align: center;
  padding-bottom: 40px;
}
.persona-daruma {
  display: inline-block;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  margin-left: auto;
  margin-right: auto;
}
.container .design {
  padding-top: 40px;
  background: #E3E5E4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  max-width: 80%;
  margin: auto;
}
.design {
  padding-top: 40px;
  max-width: 60%;
  background: #E3E5E4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
.daruma-images {
  background: #E3E5E4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  margin: auto;
}
.design .daruma-images {
  text-align: center;
  padding-bottom: 40px;
}
.design .text {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.design p {
  max-width: 60%;
  margin: auto;
  padding-bottom: 40px;
}
.daruma-detail {
  display: inline-block;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  margin-left: auto;
  margin-right: auto;
}
.container .site-images {
  background: #0B3954;
  max-width: 80%;
  margin: auto;
}
.site-images h2 {
  padding-top: 40px;
  color: #FFFFFF;
}
.site-images .daruma-page {
  max-width: 100%;
  background-size: cover;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
.site-images .daruma-page-last {
  max-width: 100%;
  background-size: cover;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

/* Medium and small screens */
@media screen and (max-width: 767px) {
  html { font-size: 112%; }
  h2 {
    font-size:20px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  p {
    font-size:16px;
    line-height: 27px;
  }
/* Creating the brand */
  .container .brand-content {
    background: #E3E5E4;
    max-width: 100%;
    margin: auto;
  }
  .brand-content p {
    max-width: 80%;
  }
/* User personas */
  .container .persona-content {
    background: #FFFFFF;
    max-width: 100%;
    margin: auto;
  }
  .persona-content p {
    max-width: 80%;
  }
  .persona-daruma {
    width: 75%;
  }
  /* Building the experience */
   .container .design {
    background: #E3E5E4;
    max-width: 100%;
    margin: auto;
  }
  .design p {
    max-width: 80%;
  }
  .daruma-detail {
    height: 75%;
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .brand-content p {
    max-width: 90%;
  }
  .persona-content p {
    max-width: 90%;
  }
  .design p {
    max-width: 90%;
  }
}
