/* Global */
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-transform: none;
  max-width: 70%;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: center;
}
p { 
  font-size:18px;
  line-height: 27px;
}
body {
  font-family: 'Open Sans', sans-serif;
  color:#333333;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: right;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #333333;
}
li a:hover {
    color: #FF6663;
    border: 1px solid #FF6663;
}
.name {
  font-family: 'Oleo Script', cursive;
  font-size: 30px;
  float: left;
  padding-left: 15%;
}
.outer {
  padding-right: 15%;
}
.menu {
  float: none;
  width: 100%;
}
.project-intro {
  float: none;
  width: 100%;
}
.project-intro .content {
  width: 90%;
  height: 100%;
  padding: 3%;
  margin-left: auto;
  margin-right: auto;
}
.content h3 {
  padding-top: 20px;
}
.daruma-laptop {
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  padding-bottom: 30px;
}
.content .intro {
  color:#333333;
  font-size:18px;
  line-height: 27px;
  text-transform: none;
  text-align: left;
  max-width: 60%;
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto;
}
.brand-content .text {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.title {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto; 
}
.content p {
  text-align: center;
  color: #FF6663;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 0;
  padding-bottom: 30px;
}

.brand-content {
  background: #F2F2F2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  max-width: 100%;
  padding: 3%;
  margin: auto;
}
.brand-content p {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.daruma-logos {
  width: 40%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
.persona-content {
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  max-width: 100%;
  padding: 3%;
  margin: auto;
}
.persona-content .text {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

.persona-images {
  max-width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.persona-daruma {
  display: inline-block;
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  margin-left: auto;
  margin-right: auto;
}
.persona-daruma1 {
  display: inline-block;
  width: 45%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  margin-left: auto;
  margin-right: 20px;
}
.design {
  background: #F2F2F2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  max-width: 100%;
  padding: 3%;
  margin: auto;
}
.daruma-images {
  max-width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.design .text {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.design p {
  max-width: 60%;
  margin: auto;
  padding-bottom: 40px;
}
.daruma-detail {
  display: inline-block;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  margin-left: auto;
  margin-right: auto;
}
.daruma-detail1 {
  display: inline-block;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  margin-left: auto;
  margin-right: 20px;
}
.site-images h2 {
  padding-top: 40px;
}
.site-images .daruma-page {
  max-width: 70%;
  background-size: cover;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
.site-images .daruma-page-last {
  max-width: 70%;
  background-size: cover;
  background-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

/* Medium and small screens */
@media screen and (max-width: 767px) {
  html { font-size: 112%; }
  h2 {
    font-size:20px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  p {
    font-size:16px;
    line-height: 27px;
  }
/* Creating the brand */
  .container .brand-content {
    background: #E3E5E4;
    max-width: 100%;
    margin: auto;
  }
  .brand-content p {
    max-width: 80%;
  }
/* User personas */
  .container .persona-content {
    background: #FFFFFF;
    max-width: 100%;
    margin: auto;
  }
  .persona-content p {
    max-width: 80%;
  }
  .persona-daruma {
    width: 75%;
  }
  /* Building the experience */
   .container .design {
    background: #E3E5E4;
    max-width: 100%;
    margin: auto;
  }
  .design p {
    max-width: 80%;
  }
  .daruma-detail {
    height: 75%;
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .brand-content p {
    max-width: 90%;
  }
  .persona-content p {
    max-width: 90%;
  }
  .design p {
    max-width: 90%;
  }
}
