/* Global */
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
}
body {
  color:#333333;
}
h2 {
  font-family: 'Poller One', cursive;
  font-size: 30px;
  text-transform: none;
  max-width: 70%;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  line-height: 27px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FF6663;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: #333;
    background-color: #FFFFFF;
}
.title {
  margin-left: auto;
  margin-right: auto; 
}
.project-intro {
  background: #FF6353;
  float: none;
  width: 100%;
}

.project-intro .content {
  width: 90%;
  height: 100%;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
}
.paycrave-logo {
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
.content p {
  text-align: center;
  color: #FF6663;
  text-transform: uppercase;
  font-size: 16px;
}
.container {
  background: #0B3954;
}
.container .user-stories {
  padding-top: 40px;
  background: #E3E5E4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  max-width: 80%;
  margin: auto;
}
.stories .user-stories {
  background: #FFFFFF;
  padding-top: 40px;
}
.user-stories .text {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.user-chart {
  text-align: center;
  padding-bottom: 40px;
}
.chart {
  display: inline-block;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  margin-left: auto;
  margin-right: auto;
}
.draw-chart {
  display: inline-block;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
.container {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
.container .brand-content {
  padding-top: 40px;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  max-width: 80%;
  margin: auto;
}
.brand-content .text {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.style-guide {
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  padding-bottom: 40px;
}
.container .design {
  padding-top: 40px;
  background: #E3E5E4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  max-width: 80%;
  margin: auto;
}
.design {
  padding-top: 40px;
  max-width: 60%;
  background: #E3E5E4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}
.paycrave-test {
  background: #E3E5E4;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  margin: auto;
}
.design .paycrave-test {
  text-align: center;
  padding-bottom: 40px;
}
.design .text {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}
.test-detail {
  display: inline-block;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  margin-left: auto;
  margin-right: auto;
}
.container .product {
  padding-top: 40px;
  background: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  max-width: 70%;
  margin: auto;
}
.product {
  padding-top: 40px;
  max-width: 60%;
}
.paycrave-images {
  background: #FFFFFF;
  margin: auto;
}
.product .paycrave-images {
  text-align: center;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

}
.product p {
  max-width: 60%;
  margin: auto;
  padding-bottom: 40px;
}
.paycrave {
  display: inline-block;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.paycrave-profile {
  display: inline-block;
  height: 400px;
  padding-left: 50px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  html { font-size: 112%; }
  h2 {
    font-size:20px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  p {
    font-size:16px;
    line-height: 27px;
  }
/* User stories */
  .container .user-stories {
    max-width: 100%;
    margin: auto;
  }
  .user-stories p {
    max-width: 80%;
  }
  .chart {
    width: 75%;
  }
  .draw-chart {
    width: 75%;
  }
/* Style guide */
  .container {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  }
  .container .brand-content {
    background: #FFFFFF;
    max-width: 100%;
    margin: auto;
  }
  .brand-content p {
    max-width: 80%;
  }
  .style-guide {
    width: 75%;
    padding-bottom: 10px;
  }
  /* Building the experience */
   .container .design {
    background: #E3E5E4;
    max-width: 100%;
    margin: auto;
  }
  .design p {
    max-width: 80%;
  }
  .test-detail {
    height: 75%;
    width: 75%;
  }
  /* The finished product */
  .container .product {
    max-width: 100%;
  }
  .paycrave-images .paycrave-profile {
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 45px;
    text-align: center;
    padding-right: 40px;
  }
  .user-stories p {
    max-width: 90%;
  }
  .brand-content p {
    max-width: 90%;
  }
  .design p {
    max-width: 90%;
  }
}