/* Global */
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
  color:#333333;
  overflow: hidden;
}

body.body-scroll {
  overflow: inherit;
}

.main {
  height:100%;
}
h1 {
  font-family: 'Croissant One', cursive;
  font-size: 64px;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}
.content h2 {
  font-family: 'Raleway', sans-serif;
  font-size:25px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  padding-top: 90%;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size:18px;
  line-height: 27px;
  font-weight: normal;
  color: #FFFFFF;
}
.profile { 
  width: 100%;
  opacity: 0.3;
  position: absolute;
  background-size: cover;
}
.content {
  height: 400px;
  width: 400px;
  position: relative;
}

/* Navigatigon */
.page-sidebar {
  background-color: #FF6663;
  bottom: 0;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 50%;
  float:left;
  height:100%;
}

.page-navigation {
  position: fixed;
  width:50%;
  height:100%;
  margin: 0 auto;
  padding-top: 100px;
}
.page-navigation ul li {
  list-style: none;
  text-align: center;
  color: #FFFFFF;
}
.page-navigation ul li a {
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  text-align: center;
}
.page-navigation ul li a:hover {
  text-decoration: underline;
}
.page-section .content {
  width: 100%;
  height: 100%;
}
.nav-toggle {
  cursor:pointer;
  position: fixed;
  left: 20px;
  top: 20px;
  padding-right: 0;
}
.nav-toggle .menu {
  width: 30px;
  height: 30px;
  margin-left: 30px;
  margin-top: 30px;
}
/* Section */
.page-section {
  background: #333333;
  right: 0;
  overflow: scroll;
  width: 50%;
  float:right;
  height: 100vh;
}
